body{
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color: black;
}
header{
    background-color:brown ;
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
}
section{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius:8px;
    
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th{background-color: black;
    color: white;}
form{
    width: 100%;
    padding: 60px;
    max-width: 600px;
}
input,textarea{
    width:50% ;
    height: 40px;
    margin-bottom: 20px;
}
button{
    background-color: brown;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: darkgoldenrod;
}
